<html>

<head>

</head>

<!-- Loading React Script-->


    <link rel="stylesheet" href="ReactOpeningPage.css">

    


    <body style="background-color: rgb(8, 199, 199); text-align: center;">
        
        <!--<div id="like_button_container"></div> -->

        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="like_button.js"></script>

        <div id="heading">
            <h1>SUM-UP</h1>
            <h2> ... your text</h2>
        </div>

        <div id="next_button">
            <a href="/index"><button variant="contained" >Next</button></a>   
        </div>    
    </body>
</html>